<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
      <div class="col-lg-10 mx-auto text-center">
        <video width="320" height="240" controls autoplay loop>
          <source src="/assets/images/about-anim.mp4" type="video/mp4">
          Not Supported
        </video>
      </div>
    </div>
  </div>
</section>
<!-- /about -->