<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" style="border-color: rgb(0,154,49);background-color: rgb(0,154,49)">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/" style="color: white">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" >
                <li >
                    <a href="{{ site.baseurl }}/" style="color: white" class="nav-item">Home</a>
                </li>
<!--				{% for page in site.pages %}{% if page.url contains "projects/" %}{% if page.title %}-->
<!--                <li>-->
<!--                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>-->
<!--                </li>-->
<!--                {% endif %}{% endif %}{% endfor %}-->
                {% for page in site.pages %}
                {% if page.title %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}" style="color: white;" class="nav-item">{{ page.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<style>
    .nav-active:hover{
        background-color: white!important;
    }
    .nav-active{
        background-color: white;
        color: rgb(0,154,49)!important;
    }
    .nav-item{
        color: white;
    }
</style>
<script>
    nav = document.querySelector("nav .navbar-nav.navbar-right")
    elem = nav.querySelector("a[href='"+window.location.pathname+"']");
    elem.classList.add("nav-active");
</script>
