{% if site.data.settings.testimonial-items %}
<!-- testimonial -->
<section class="section bg-primary position-relative testimonial-bg-shapes testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-white mb-5">Publications</h2>
      </div>
      <div class="col-lg-10 mx-auto testimonial-slider">
        {% for testimonial-item in site.data.settings.publications limit: 3%}
        <!-- slider-item -->
        <div class="text-center testimonial-content">
          <!-- <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i> -->
          <h4 class="text-white">{{ testimonial-item.title }}</h4>
          <h6 class="text-light mb-4">{{ testimonial-item.date }}</h6>
          <div class="text-white mb-4 test-content"><p>{{ testimonial-item.abstract }}</p></div>
          <!-- <img class="img-fluid rounded-circle mb-4 d-inline-block" src="{{ testimonial-item.image | relative_url }}"
            alt="{{ testimonial-item.name }}"> -->
            <a class="btn btn-light btn-sm" href="{{ testimonial-item.link }}" style="margin-bottom: 20px;">view paper</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- bg shapes -->
  <img src="{{ site.baseurl }}/assets/images/backgrounds/map.png" alt="map" class="img-fluid bg-map">
  <!-- <img src="{{ site.baseurl }}/assets/images/illustrations/logo_team_virt.png" alt="bg-shape" class="img-fluid bg-shape-1"> -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/ss2d-pred.png" alt="bg-shape" class="img-fluid bg-shape-2">
  <!-- <img src="{{ site.baseurl }}/assets/images/illustrations/ss2d-pyellow_100.png" alt="bg-shape" class="img-fluid bg-shape-3"> -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/ss2d-pyellow.png" alt="bg-shape" class="img-fluid bg-shape-4">
  <!-- <img src="{{ site.baseurl }}/assets/images/illustrations/ss2d-ball.png" alt="bg-shape" class="img-fluid bg-shape-5"> -->
</section>
<!-- /testimonial -->
{% endif %}