// Color Variables
$primary-color: #1E5631;
$secondary-color: #A4DE02;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Public Sans', sans-serif;
$secondary-font: 'Franklin Gothic', serif;
$icon-font: 'themify';